body{
    font-family: 'Raleway', sans-serif;
    background-color: #000000;
}

.card-icon, .btn, footer{
    background-color: #00b4d8;
}

.container{
    margin: 30px;
}

footer p{
    margin: 0;
}

footer a{
    color: #ffffff;
}