body{
    font-family: 'Raleway', sans-serif;
    background-color: #000000;
}

.card-icon, .card, .btn, footer{
    background-color: #00b4d8;
}

.container{
    margin: 30px;
}

footer p{
    margin: 0;
}

footer a, .card{
    color: #ffffff;
}

footer a{
    margin-left: 0.5rem;
}

h2{
    padding-bottom: 10px;
}

.card{
    margin-bottom: 1rem;
}